.c-input{
    &-text{
        display: block;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 5px 10px;
	line-height: normal;
        &:hover{
            border-color: #555;
        }
    
        &:focus{
            border-color: #4baae0;
        }

        &.is-invalid{
            background-color: #ffd9e1;
        }
        &::placeholder{
	    line-height: normal;
        }
    
    }   
}
