@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  line-height: 2;
  margin: 0 auto;
  width: 100vw;
  font-family: "Shippori Mincho", serif;
  color: #555555;
}

a {
  cursor: pointer;
}

h1, h2 {
  font-weight: bold;
  font-size: 16px;
}
@media screen and (min-width: 720px) {
  h1, h2 {
    font-size: 28px;
  }
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-size: 12px;
}
@media screen and (min-width: 720px) {
  body {
    font-size: 18px;
  }
}

.l-header {
  background-color: #fff;
  width: 100vw;
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  z-index: 2;
}

.l-main {
  min-height: 100vh;
  margin-top: 80px;
}

.l-footer {
  height: 40px;
  background-color: #FF6347;
}

.c-title {
  padding: 10px 0;
  text-align: center;
}

.c-input-text {
  display: block;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  line-height: normal;
}
.c-input-text:hover {
  border-color: #555;
}
.c-input-text:focus {
  border-color: #4baae0;
}
.c-input-text.is-invalid {
  background-color: #ffd9e1;
}
.c-input-text::-moz-placeholder {
  line-height: normal;
}
.c-input-text:-ms-input-placeholder {
  line-height: normal;
}
.c-input-text::placeholder {
  line-height: normal;
}

.c-button {
  display: block;
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
  color: #fff;
}
.c-button:hover {
  opacity: 0.8;
}

.c-container-form {
  margin: 0 auto;
  width: 80%;
}

.c-alert {
  background-color: #5cb85c;
  opacity: 0.7;
  text-align: center;
  color: #fff;
  position: fixed;
  width: 320px;
  margin: 0 auto;
  top: 0px;
  left: auto;
  right: auto;
  z-index: 2;
}

.c-icon {
  border-radius: 50%;
}

.p-header-top {
  padding: 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
}
.p-header-top__logo {
  font-size: 12px;
  margin-right: 10px;
}
@media screen and (min-width: 720px) {
  .p-header-top__logo {
    font-size: 16px;
  }
}
.p-header-top__form {
  width: 40%;
}
.p-header-top__search {
  width: 100%;
}
.p-header-top__register {
  margin-left: auto;
  margin-right: 10px;
}
.p-header-top__logout {
  margin-left: auto;
}
.p-header-bottom {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  background-color: #FF6347;
}
.p-header-bottom__link {
  color: #fff;
}
.p-header-bottom__link:not(:last-child) {
  margin-right: 10px;
}

.p-menu__drop {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #FF6347;
}
.p-menu__angle {
  display: block;
  color: #fff;
  margin-left: auto;
}
.p-menu__title {
  color: #fff;
}
.p-menu__content {
  visibility: hidden;
  padding: 10px;
  height: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.p-menu__item {
  display: flex;
  align-items: center;
}
.p-menu__item:not(:last-child) {
  margin-bottom: 10px;
}
.p-menu__box {
  margin-right: 5px;
}
.p-menu__acd-check {
  display: none;
}
.p-menu__acd-check:checked + .p-menu__drop .p-menu__angle {
  transform: rotate(180deg);
}
.p-menu__acd-check:checked + .p-menu__drop + .p-menu__content {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.p-menu__select {
  position: relative;
  margin: 10px 0;
}
.p-menu__select-box {
  display: block;
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #666;
}
.p-menu__caret {
  position: absolute;
  display: block;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.p-hero {
  max-height: 768px;
  height: calc(100vw * 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/hero.png);
  background-size: cover;
  background-position: 50% 0;
}
.p-hero__container {
  color: #fff;
  text-align: center;
}
.p-hero__logo {
  font-size: 32px;
}
@media screen and (min-width: 720px) {
  .p-hero__logo {
    font-size: 80px;
  }
}
.p-hero__catch {
  font-size: 16px;
}
@media screen and (min-width: 720px) {
  .p-hero__catch {
    font-size: 36px;
  }
}

.p-problem {
  text-align: center;
  padding-bottom: 10px;
}
.p-problem__title {
  padding: 10px 0;
}

.p-agitation {
  text-align: center;
  padding-bottom: 10px;
}
.p-agitation__title {
  padding: 10px 0;
}

.p-solution {
  text-align: center;
}
.p-solution__title {
  padding: 10px 0;
}
.p-solution__conatiner {
  overflow: hidden;
}
.p-solution-stepbox {
  font-weight: bold;
  padding: 10px;
  margin: 10px auto;
  width: 80%;
  border: 1px solid #ccc;
}
@media screen and (min-width: 720px) {
  .p-solution-stepbox {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
  }
}
.p-solution-stepbox__step {
  color: #FF6347;
}
.p-solution-stepbox__icon {
  padding: 10px 0;
  color: #555;
}

.p-action {
  text-align: center;
  height: 200px;
  padding: 10px 0;
}
.p-action__title {
  padding-bottom: 30px;
}
.p-action__button {
  margin: 0 auto;
  padding: 5px 25px;
  background-color: #FF6347;
  font-weight: bold;
}

.p-form__caution {
  padding-bottom: 10px;
}
.p-form__drop-area {
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}
.p-form__hidden-input {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0;
  cursor: pointer;
}
.p-form__input-text {
  width: 100%;
  margin-bottom: 10px;
}
.p-form__required {
  color: #ff3b30;
}
.p-form__limit {
  color: #797979;
}
.p-form__textarea {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  border: 1px #ccc solid;
  padding: 5px 10px;
}
.p-form__textarea:hover {
  border-color: #555;
}
.p-form__textarea:focus {
  border-color: #4baae0;
}
.p-form__textarea.is-invalid {
  background-color: #ffd9e1;
}
.p-form__list:not(:last-child) {
  margin-bottom: 10px;
}
.p-form__item {
  display: flex;
  align-items: center;
}
.p-form__item:not(:last-child) {
  margin-bottom: 10px;
}
.p-form__box {
  margin-right: 5px;
}
.p-form__link {
  color: #0081c2;
}
.p-form__link-side {
  color: #0081c2;
}
.p-form__link-side:not(:last-child) {
  margin-right: 10px;
}
.p-form__delete {
  padding: 10px 0;
  color: #f3374d;
}
.p-form__text-count {
  display: inline;
  float: right;
  text-align: right;
}
.p-form__button {
  margin: 20px auto;
  padding: 5px 30px;
  background-color: #4baae0;
}

.p-verify {
  text-align: center;
}
.p-verify__resend {
  color: #0081c2;
}

.p-alert-state {
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #155724;
  background-color: #d4edda;
}
.p-alert-flash--success {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100vw;
  text-align: center;
  background-color: #0095fb;
  opacity: 0.6;
  font-weight: bold;
  color: #fff;
}
.p-alert-flash--err {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100vw;
  text-align: center;
  background: #f3374d;
  opacity: 0.6;
  font-weight: bold;
  color: #fff;
}
.p-alert-err {
  color: #ff3b30;
}

.p-icon-form {
  width: 100px;
  height: 100px;
  border: solid 3px skyblue;
}
.p-icon-profile {
  margin: 10px;
  width: 70px;
  height: 70px;
}
.p-icon-detail {
  margin: 10px;
  width: 40px;
  height: 40px;
}
.p-icon-name {
  font-weight: bold;
}

.p-profile__link {
  color: #0081c2;
}
.p-profile__name {
  padding: 10px;
  font-weight: bold;
  color: #2a2a2a;
}
.p-profile__text {
  padding: 10px;
  font-weight: bold;
}

.p-manage__list {
  width: 100%;
  padding: 0 10px;
}
.p-manage__url {
  color: #0066c0;
}
.p-manage-step {
  background: #FF6347;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.p-manage-step__item-name {
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
}
.p-manage-step__link {
  color: #fff;
}
.p-manage-step__link:hover {
  color: #00AC98;
}
.p-manage-step__title {
  text-align: center;
  padding: 10px 0;
}
.p-manage-step__content {
  padding: 10px 0;
  width: 80%;
  margin: 0 auto;
}
.p-manage__show-button {
  margin: 20px auto;
  padding: 5px 30px;
  background: #f3374d;
}
.p-manage-children {
  padding: 10px;
}
.p-manage-children__label {
  padding: 10px 0;
}
.p-manage-children__button {
  padding: 5px 25px;
  background: #4fc3f7;
  margin-right: auto;
}

.p-step {
  padding: 20px 0;
}
.p-step__list {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}
.p-step__list:first-child {
  border-top: 1px solid #f0f0f0;
}
.p-step__title {
  color: #FF6347;
  padding-bottom: 10px;
}
.p-step__sub-title {
  padding-bottom: 10px;
}
.p-step__info {
  font-weight: bold;
}
.p-step__info:not(:last-child) {
  margin-bottom: 10px;
}
.p-step__update {
  padding-right: 10px;
  text-align: right;
}

.p-progress {
  height: 5px;
  background-color: rgba(212, 224, 232, 0.5);
}
.p-progress__bar {
  height: 100%;
  background-color: #5dd9ee;
}

.p-detail {
  margin: 0 auto;
  width: 80%;
}
.p-detail__username {
  display: flex;
  align-items: center;
}
.p-detail__content {
  padding: 10px 0;
}
.p-detail__info {
  padding-bottom: 10px;
}
.p-detail__challenge-button {
  margin: 20px auto;
  border-radius: 50%;
  padding: 30px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #eb6100;
}
.p-detail__clear-button {
  margin: 20px auto;
  border-radius: 50%;
  padding: 30px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #d20010;
}
.p-detail__cancel-button {
  margin: 20px auto;
  border-radius: 50%;
  padding: 30px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #ccc;
}
.p-detail__twitter-button {
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  width: 74px;
  padding: 1px 0;
  padding-left: 20px;
  background-color: #1b95e0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.p-detail__twitter-button::after {
  position: absolute;
  content: "\F099";
  font-family: "Font Awesome 5 Brands";
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
}

.p-pagination {
  padding: 20px 0;
}
.p-pagination__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
}
.p-pagination__page-item {
  display: flex;
  align-items: center;
}

.p-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
  text-align: center;
}
.p-popup.is-show {
  opacity: 1;
  visibility: visible;
}
.p-popup__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 90vw;
  min-height: 50vh;
  padding: 20px;
  background-color: #fff;
  z-index: 4;
}
.p-popup__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.p-popup__close i {
  font-size: 20px;
  color: #333;
}
.p-popup__twitter-button {
  display: inline-block;
  padding: 5px 35px;
  margin: 10px 0;
  background-color: #55acee;
  color: #fff;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}
.p-popup__twitter-button::after {
  position: absolute;
  content: "\F099";
  font-family: "Font Awesome 5 Brands";
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.p-popup__start-button {
  font-size: 12px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 20px auto;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #eb6100;
}
.p-popup__black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
}